<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <title>Login</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-space-dynamic.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animated.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css') }}">

</head>

<body>

  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <a class = "logo">
                <h4>My <span>Honeypot >:D</span></h4>
              </a>
            <ul class="nav">
              <li class="scroll-to-section"><div class="main-red-button"><a href="http://192.168.29.164/">Back</a></div></li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>

  <div id="login" class="contact-us section">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-12">
                <label>Congrats you reach the End.</label>
                <a rel="nofollow" href="https://github.com/VI12737/V/" target="_parent">This is the link to my code. :></a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/animation.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/imagesloaded.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/templatemo-custom.js') }}"></script>

</body>

</html>
